<div
  [class.container]="isVerticalLayout$ | async"
  class="toolbar text-default w-full px-6 flex items-center">
  <button
    (click)="openSidenav()"
    [class.hidden]="isDesktop$ | async"
    mat-icon-button
    type="button">
    <mat-icon svgIcon="mat:menu"></mat-icon>
  </button>

  <a
    *ngIf="isVerticalLayout$ | async"
    [routerLink]="['/']"
    class="ltr:mr-4 rtl:ml-4 flex items-center">
    <img
      alt="Logo"
      class="w-8 select-none"
      src="assets/img/logo/logo.svg" />
    <h1
      [class.hidden]="isDesktop$ | async"
      class="text-2xl font-bold tracking-wide ltr:pl-4 rtl:pr-4 m-0 select-none">
      {{ title$ | async }}
    </h1>
  </a>

  <button
    id="createListingBtn"
    style="padding-right: 48px; padding-left: 48px; padding-top: 12px; padding-bottom: 12px;"
    [disabled]="!isUserLoggedIn"
    (click)="createListingClicked()"
    *ngIf="isHorizontalLayout$ | async"
    color="primary"
    mat-flat-button
    type="button">
    Create Listing
  </button>
  <button mat-flat-button (click)="showTest()">
    Show Test
  </button>

  @if(userProfile?.stripeInfo?.verified) {
      <div 
        class="flex body-1 font-medium leading-snug ltr:mr-3 rtl:ml-3 hidden sm:block p-4 verified verified-info"
      >
       <mat-icon style="font-size: 10pt" svgIcon="mat:verified"></mat-icon><span>Verified</span>
    </div>
  }

  <span class="flex-1"></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <button (click)="openSearch()" mat-icon-button type="button">
        <mat-icon color="primary" svgIcon="mat:search"></mat-icon>
      </button>
    </div>

    <div class="px-1">
      <vex-toolbar-notifications [userNotifications]="userNotifications" [userSignedIn]="isUserLoggedIn"></vex-toolbar-notifications>
    </div>

    @if(isUserLoggedIn) {
      <div class="px-1">
        <vex-toolbar-user [currentUser]="loggedInUser"></vex-toolbar-user>
      </div>
    } 
    @else {
      <div class="px-1">
        <button
          mat-icon-button type="button"
          [matMenuTriggerFor]="loggedOutUserMenu">
            <mat-icon svgIcon="mat:person" color="primary"></mat-icon>
        </button>
      </div>
      <mat-menu #loggedOutUserMenu="matMenu">
        <button mat-menu-item (click)="loginUser()">
          <mat-icon svgIcon="mat:login"></mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item (click)="registerUser()">
          <mat-icon svgIcon="mat:person_add"></mat-icon>
          <span>Register</span>
        </button>
      </mat-menu>
    }
    
  </div>
</div>

<vex-navigation
  *ngIf="(isVerticalLayout$ | async) && (isNavbarBelowToolbar$ | async)"
  [class.hidden]="!(isDesktop$ | async)"></vex-navigation>
