<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <h4>{{ data.body }}</h4>
  @if(data.confirmationInput) {
    <div style="margin-top: 20px">
      <mat-form-field>
        <input matInput [placeholder]="confirmationMessage" [(ngModel)]="confirmationMessage">
      </mat-form-field>
    </div>
  }
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    color="warn"
    (click)="confirm()"
    style="margin: 10px; padding: 10px">
    {{ data.confirmButtonText }}
  </button>
  <button mat-stroked-button (click)="dialogRef.close()">Cancel</button>
</div>
