.component-container {
  display: grid;
  text-align: center;
  padding: 1em;
  border: 2px solid #3c8ed6;
  border-radius: 5px;
  height: minmax(200px);
}
.gridLayout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: 100px
}
.component-container:hover,
.hovering {
  cursor: pointer;
  background-image: -webkit-linear-gradient(135deg,#353642 25%,transparent 25%,transparent 50%,#353642 50%,#353642 75%,transparent 75%,transparent);
  animation: stripes 2s linear infinite;
  background-size: 30px 30px;
  background-color: #27282d;
}

.icon {
  font-size: 1.5em;
}
.text {
  font-size: 0.8em;
}
.icon, .text {
  margin: auto;
}

@-webkit-keyframes stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 30px; } }

@keyframes stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 60px 30px; } }

.file-item {
  border: 1px solid #14171c;
  border-radius: 5px;
  background-color: #445060;
  display: table;
}

.file-item-content {
  display: table-cell;
  vertical-align: middle;
}