<div class="component-container"
    [class.gridLayout]="currentSelectedFiles.length > 0"
    [class.hovering]="isDragging"
    (click)="fileSelector.click()"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="stopDrag($event)"
    (dragend)="stopDrag($event)">

    <input #fileSelector type="file" multiple (change)="onFilesSelected($event)" hidden>

    @if(currentSelectedFiles.length > 0) {
        @for(file of currentSelectedFiles; track file; let index = $index) {
            <div class="file-item">
                <!-- TODO: Add ability to click X to delete a file-->
                <div class="file-item-content">
                    <mat-icon matIconPrefix svgIcon="mat:article" />
                    <div>
                        {{file.name.substring(file.name.lastIndexOf('.')+1).toUpperCase()}}
                    </div>
                </div>
            </div>
        }
    }
    @else {
        <div>
            <mat-icon svgIcon="mat:cloud_download" />
            <br>
            Drag &amp; drop or click
        </div>
    }
</div>
