<div class="form-container">

    <div class="flex-col" style="border-width: 1px; border-radius: 10px; border-color: red; padding:24px; margin: 36px 0px;">
        <div class="flex flex-col sm:flex-row">
            <div class="flex items-center">
                <h2 class="display-1 headline">
                    Delete Account
                </h2>
            </div>
        </div>

        <div class="flex flex-col sm:flex-row" style="margin-top:12px; align-self: flex-end;"> 
            <button mat-stroked-button type="button" style="color: rgb(212, 45, 45)" (click)="confirmDeleteAccount()">Delete Account</button>
        </div>
    </div>
</div>