<mat-drawer-container class="overflow-hidden h-full w-full drawer-container">
    <mat-drawer
      mode="side"
      opened="true"
      class="drawer"
      position="start">
      <div class="h-full flex flex-col">
        <div
          class="flex-none py-4 bg-gray-50 dark:bg-gray-900 space-y-4 border-b">
          <div class="flex items-center mx-4">
            <div class="flex-1 text-3xl font-semibold">My PC Builds</div>
          </div>
  
          <div class="flex px-4">
            <mat-form-field
              appearance="outline"
              class="vex-mat-dense-xs flex-1 bg-foreground"
              subscriptSizing="dynamic">
              <mat-icon
                class="icon-sm"
                matIconPrefix
                svgIcon="mat:search"></mat-icon>
              <input matInput placeholder="Search builds..." type="text" />
            </mat-form-field>
          </div>
        </div>
  
        <div class="flex-1 min-h-0" data-simplebar>
          <div class="pt-2">
            <div class="space-y-1">
                @for(build of builds; track build.id) {
                  <ng-container>
                    <a
                      #rla="routerLinkActive"
                      [ngClass]="{
                        'text-primary-600 bg-primary-50 dark:text-primary-200 dark:bg-primary-700/20':
                          build === selectedBuild
                      }"
                      style="margin: 12px; padding: 12px"
                      [style]="build === selectBuild ? 'border: 1px solid rgb(200,100,100)' : 'border: 1px solid rgb(100,100,100)'"
                      [routerLink]="['./', build.id]"
                      class="relative text-sm mx-4 px-3 py-2 rounded hover:bg-primary-100 hover:dark:bg-primary-700/10 flex items-center gap-3 transition ease-out"
                      matRipple
                      routerLinkActive
                      (click)="selectBuild(build)"
                      >
                      <div
                        *ngIf="build === selectedBuild"
                        class="w-1 bg-primary-600 absolute left-0 top-0 bottom-0 rounded-full my-1">
                      </div>
      
                      <div class="flex select-none truncate" style="width: 100%">
                        <div class="truncate flex mb-0.5" style="width: 85%">
                          <div class="font-medium flex-1">{{ build.name }}</div>
                        </div>
                        <div class="flex" style="width: 15%; justify-content: end; justify-items: end;">
                          <button class="flex-auto edit-field-button" type="button">
                            <mat-icon matIconPrefix color="warn" style="opacity: 75%;" svgIcon="mat:delete" (click)="deleteBuild(build)"></mat-icon>
                          </button>
                        </div>
                      </div>
                    </a>
                  </ng-container>
                }

                <div class="flex" style="margin-top: 24px; width: 100%; justify-items: center; justify-content: center;">
                  <button color="primary" mat-stroked-button (click)="addNewBuild()">Create New Build</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer>
  
    <mat-drawer-content class="relative">
      @if(selectedBuild) {
        <rb-build-editor
          [build]="selectedBuild"
          (buildUpdated)="updateBuild($event)"
          class="h-full w-full"/>
      }
      @else {
        <!-- TOOD: Maybe create ai generated image to go here like the message page-->
        <div class="flex items-center justify-center h-full w-full">
          <div class="text-2xl font-semibold text-gray-500 dark:text-gray-400">
            Select a build to edit or create a new one
          </div>
        </div>
      }
    </mat-drawer-content>
  </mat-drawer-container>
  