.row-container{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(44, 44, 153);
    border-radius: 5px;
}

.cell {
    padding: 10px;
    font-size: medium;
    text-align: left;
}

.header-cell {
    padding: 5px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.centered {
    text-align: center;
}