<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{caseComponent.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex items-center gap-2">
            <!-- <div class="flex-1">
                <img [src]="caseComponent.imageUrl" alt="Case Image" class="w-full h-auto">
            </div> -->
            <div class="flex-1">
                <h2>Manufacturer</h2>
                {{caseComponent.manufacturer}}
            </div>
            <div class="flex-1">
                <h2>Windowed</h2>
                {{caseComponent.windowed}}
            </div>
        </div>
    </mat-card-content>
</mat-card>