
<div class="card overflow-hidden">
  <div
    (click)="listingSelected.emit(listing.id)"
    class="p-4 text-center hover:bg-hover transition duration-400 ease-out-swift cursor-pointer relative"
    matRipple>
    <img [src]="listing.imageUrls[0]" class="h-64 w-64 listing-card-image mx-auto" />

    <h1 class="title mb-1 mt-3">{{ listing.title }}</h1>
    <h2>{{ listing.componentCategory }}</h2>
  </div>

  <div class="bg-app-bar p-2 flex items-center justify-beginning">
    <h1 class="listing-price">{{listing.price | currency}}</h1>
  </div>
</div>
