.listing-card {
    max-width: 400px;
    height: 300px;
    color: white;
    padding: 12px;
    cursor: pointer;
}

.listing-card-image {
    object-fit: cover;
}

.listing-price {
    font-weight: bold;
    margin-left: 16px;
}