<div class="form-container">

    <div class="flex-col" 
            style="border-width: 1px; border-radius: 10px; padding:24px; margin: 36px 0px;" 
            [style]="user.stripeInfo?.accountId ? 'border-color: green' : 'border-color: rgb(66, 82, 108)'">

        <div class="flex flex-col sm:flex-row">
            <div class="flex items-center">
                <h2 class="display-1 headline">
                    Connected Payments Account
                </h2>
            </div>
            <div class="flex-auto items-right" style="text-align: end;">
                @if(user.stripeInfo?.accountId) {
                    <h2 class="display-2 headline" style="color: green">
                        Connected
                    </h2>
                } @else {
                    <h2 class="display-2 headline" style="color: red; font-size: 18px;">
                        Not Connected
                    </h2>
                }
            </div>
        </div>

        <div class="flex flex-col sm:flex-row" style="margin-top:12px; align-self: flex-end;"> 
            @if(user.stripeInfo?.accountId) {
                <button mat-stroked-button type="button" style="color: rgb(212, 45, 45)" (click)="confirmDisconnectAccount()">Disconnect Account</button>
            } @else {
                <button mat-stroked-button type="button" color="primary" (click)="createAccountForUser()">Setup Account</button>
            }
        </div>
    </div>
    
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">

            <mat-expansion-panel-header [collapsedHeight]="'64px'" [expandedHeight]="'82px'">
                <mat-panel-title style="font-size: 24px;">Payment Methods</mat-panel-title>
                <mat-panel-description>
                    Click to {{panelOpenState() ? 'close' : 'open'}} the panel
                </mat-panel-description>
            </mat-expansion-panel-header>

            @if(paymentMethods !== undefined && paymentMethods.length > 0) {
                @for(paymentMethod of paymentMethods; track paymentMethod.stripePaymentId;) {
                    <mat-card appearance="outlined" style="margin-bottom: 12px;">
                        <mat-grid-list cols="8" rowHeight="96px">
                            <mat-grid-tile [colspan]="7" [rowspan]="1">
                                <div style="width: 100% !important; padding-left: 24px">
                                    <mat-card-title>{{paymentMethod.nickname}}</mat-card-title>
                                    <mat-card-subtitle>XXXX-XXXX-XXXX-{{paymentMethod.last4Digits}}</mat-card-subtitle>
                                    <mat-card-subtitle>{{paymentMethod.expirationMonth | number: '2.0'}}/{{paymentMethod.expirationYear}}</mat-card-subtitle>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <button
                                    (click)="confirmDeletePayment($index)"
                                    class="button"
                                    mat-icon-button
                                    type="button">
                                    <mat-icon svgIcon="mat:delete"></mat-icon>
                                </button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                }

                <button 
                    color="primary" 
                    mat-stroked-button 
                    type="button" 
                    (click)="openDialog()"
                    style="padding: 10px 50px; margin-top: 10px;;">
                    Add Payment Method
                </button>
            } @else {
                <div class="flex" style="flex-direction: column; align-items: center;">
                    <div style="display:flex; flex: 1">
                        <p style="font-size: 16px; text-align: center;">Currently there are no Payment Methods setup.</p>
                    </div>
                    <div class="flex-col" style="display:flex; flex: 1">
                        <button 
                            color="primary" 
                            mat-stroked-button 
                            type="button" 
                            (click)="openDialog()"
                            style="padding: 10px 50px; margin-top: 10px;;">
                            Add Payment Method
                        </button>
                    </div>
                </div>
            }

        </mat-expansion-panel>
    </mat-accordion>

</div>