.main-content-container {
    border: 1px solid #ec6709;
    padding: 15px;
    background-color: #ffffff05;
    border-radius: 5px;
    font-size: 12pt;
}

.sub-content-container {
    font-size: 10pt;
    margin-top: 10px;
    text-decoration: underline;
}