<div class="dropdown">
  <div class="dropdown-header flex items-center justify-between">
    @if(userSignedIn) {
      <div>
        <div class="dropdown-heading">Notifications</div>
        <div class="dropdown-subheading">
          You have {{ userNotifications.length }} new notifications.
        </div>
      </div>
  
      <button *ngIf="userSignedIn" [matMenuTriggerFor]="settingsMenu" mat-icon-button type="button">
        <mat-icon
          class="notifications-header-icon"
          svgIcon="mat:settings"></mat-icon>
      </button>
    }
    @else {
      <div>
        <div class="dropdown-subheading-large">
          Sign in to see your notifications.
        </div>
      </div>
    }
  </div>

  <div *ngIf="userSignedIn" class="dropdown-content">
    <a
      *ngFor="let notification of userNotifications; index as i"
      [class.read]="notification.seenByUser"
      [routerLink]="[]"
      class="notification flex items-center"
      (click)="markAsRead(notification)"
      matRipple>
        <!-- TODO: Make the icon and icon color dynamic based on notification.notificationType-->
      <mat-icon
        [ngClass]="getNoficiationTypeColor(notification.notificationType)"
        [svgIcon]="getNoficiationTypeIcon(notification.notificationType)"
        class="notification-icon flex-none"></mat-icon>
      <div class="flex-auto">
        <div class="notification-label">{{ notification.title }}</div>
        <div class="notification-description">
          {{ notification.creationDate | vexDateFormatRelative }}
        </div>
      </div>
      <button mat-icon-button type="button" (click)="deleteNotification(notification, i)">
        <mat-icon
          class="notification-chevron flex-none"
          svgIcon="mat:delete"/>
      </button>
    </a>
  </div>

  <div *ngIf="userSignedIn" class="dropdown-footer flex items-center justify-center">
    <button color="primary" mat-button type="button">MARK ALL AS READ</button>
  </div>
</div>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon svgIcon="mat:clear_all"></mat-icon>
    <span>Mark all as read</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:notifications_off"></mat-icon>
    <span>Disable Notifications</span>
  </button>
</mat-menu>
