<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Register for an account</h2>
      <h4 class="body-2 text-secondary m-0">Simply fill out the form below</h4>
    </div>

    <div
      [formGroup]="form"
      class="p-6 flex flex-col gap-4 flex-auto flex flex-col">
      <div>
        <mat-form-field class="flex-1 block">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput required />
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput required />
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required />
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Password</mat-label>
          <input
            [type]="inputType"
            formControlName="password"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Toggle Visibility"
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Password (Confirm)</mat-label>
          <input
            [type]="inputType"
            formControlName="passwordConfirm"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Toggle Visibility"
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button (click)="registerUser()" color="primary" mat-raised-button type="button" [disabled]="!passwordsMatch()">
        CREATE ACCOUNT
      </button>
      <p class="text-secondary text-center">
        Already have an account?<br />
        <a (click)="navigateToLogin()" style="text-decoration: underline; cursor: pointer;">Sign in here</a>
      </p>
    </div>
  </div>
</div>
