.bg-pattern {
  background: linear-gradient(
      135deg,
      var(--vex-background-background) 22px,
      var(--vex-background-hover) 22px,
      var(--vex-background-hover) 24px,
      transparent 24px,
      transparent 67px,
      var(--vex-background-hover) 67px,
      var(--vex-background-hover) 69px,
      transparent 69px
  ),
  linear-gradient(
      225deg,
      var(--vex-background-background) 22px,
      var(--vex-background-hover) 22px,
      var(--vex-background-hover) 24px,
      transparent 24px,
      transparent 67px,
      var(--vex-background-hover) 67px,
      var(--vex-background-hover) 69px,
      transparent 69px
  ) 0 64px;
  background-color: var(--vex-background-background);
  background-size: 64px 128px;
}
