<!-- <div class="flex">
    <h1 class="display-2 font-bold mt-0 mb-8 flex items-center flex-auto">
        <span class="block">Billing Info</span>
    </h1>
</div> -->

<div class="form-container">

    <p>
        TODO: 
        Make this page look better with a list of all payment options and
        ability to add a new card.
        <br>
        Also need to make the connected account section look better
        <br>
        Have some kind of verified badge next to user stuff when they get payment setup
    </p>

    <div style="padding: 24px; border:1px solid white; border-radius: 10px;">
        <div style="margin-bottom: 10px;">
            <h3 class="display-2 headline" font-bold>
                Payment Methods
            </h3>
        </div>
        <mat-card appearance="outlined">
            <!-- @for(let paymentMethod of paymentMethods; track paymentMethod.id) -->
            <mat-card-header>
              <mat-card-title> Australian Shepherd</mat-card-title>
              <mat-card-subtitle>Herding group</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
    </div>


    <button color="primary" mat-flat-button type="button" (click)="openDialog()">Add Card</button>    
    <br>
    <h2 class="display-1 headline font-bold mt-2 mb-2 flex items-center">
        Connected Account
    </h2>
    @if(user.stripeInfo?.accountId) {
        <span>Status: </span><span style="color: green">Connected!</span>
        <br>
        <button mat-stroked-button type="button" color="error" style="outline: red;" (click)="disconnectAccount()">Disconnect Account</button>
    } @else {
        <span>Status: </span><span style="color: red">Not Connected</span>
        <br>
        <button mat-flat-button type="button" color="primary" (click)="createAccountForUser()">Setup Account</button>
    }
</div>