
.form-container {
    width: 85%;
}

.item-container {
    width: 100%;
    margin-bottom: 24px;
}

.item-container-col {
    width: 50%;
    margin-bottom: 24px;
}

.item-input {
    vertical-align: middle;
}