<mat-card appearance="outlined" class="component" *ngIf="components !== undefined">
    <mat-card-title>{{componentToString() | titlecase}}</mat-card-title>

    @if(components.length === 0 || components[0] === undefined) {
      <mat-card-actions>
        <button color="primary" mat-stroked-button (click)="selectComponent()">Select Component</button>
      </mat-card-actions>
    }
    @else {
      @for(component of components; track component.id) {
        <mat-card-content>
          <div class="flex items-center gap-2">
            <div class="flex-1">{{component.name}}</div>
            <button color="accent" mat-stroked-button (click)="selectComponent()">Change Component</button>
          </div>
        </mat-card-content>
      }

      @if(components.length < maxComponents) {
        <mat-card-actions>
          <button color="primary" mat-stroked-button (click)="selectComponent()">Add Component</button>
        </mat-card-actions>
      }
    }
</mat-card>