<mat-card appearance="outlined" class="component" *ngIf="components !== undefined">
    <mat-card-title>{{componentToString() | titlecase}}</mat-card-title>

    @if(components.length === 0 || components[0] === undefined) {
      <mat-card-actions>
        <button color="primary" mat-stroked-button (click)="selectComponent(undefined)">Select Component</button>
      </mat-card-actions>
    }
    @else {
      @for(component of components; track component.id) {
        <mat-card-content>
          <div class="flex items-center gap-2" style="border: 1px solid rgb(100, 100, 100); margin: 4px 0px; padding: 16px;">
            <div class="flex" style="width: 15%">
              <img [src]="component.imageUrl" alt="No Image" style="width: 50%; height: 50%">
            </div>
            <div class="flex" style="justify-content: start; flex-grow: 1;">{{component.name}}</div>
            <div class="flex" style="justify-content: flex-end;">
              <button class="mr-2" color="accent" mat-stroked-button (click)="selectComponent(component)">Change</button>
              <button color="warn" mat-stroked-button (click)="removeComponent(component)">Delete</button>
            </div>
          </div>
        </mat-card-content>
      }

      @if(components.length < maxComponents) {
        <mat-card-actions>
          <button color="primary" mat-stroked-button (click)="selectComponent(undefined)">Add Component</button>
        </mat-card-actions>
      }
    }
</mat-card>