<mat-card appearance="outlined" class="components-container">
    <mat-card-header >
        <div class="flex" style="width: 100%">
            <div class="flex" style="width: 80%">
                <mat-form-field class="flex-auto" appearance="outline" floatLabel="auto">
                    <mat-label>Build Name</mat-label>
                    <input [formControl]="buildName" matInput>
                    <mat-icon matIconPrefix svgIcon="mat:title"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex" style="width: 20%; margin-left: 24px">
                <button mat-flat-button color="primary" style="width: 100%; height: 75%" (click)="saveBuild()">Save Build</button>
            </div>
        </div>
    </mat-card-header>

    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.CASE]" 
        [category]="getCase()"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.MOTHERBOARD]" 
        [category]="ComponentCategory.MOTHERBOARD"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.CPU]" 
        [category]="ComponentCategory.CPU"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.GPU]" 
        [category]="ComponentCategory.GPU"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.MEMORY]" 
        [maxComponents]="4"
        [category]="ComponentCategory.MEMORY"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.HARD_DRIVE]" 
        [maxComponents]="3" 
        [category]="ComponentCategory.HARD_DRIVE"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.SOLID_STATE_DRIVE]" 
        [maxComponents]="3" 
        [category]="ComponentCategory.SOLID_STATE_DRIVE"
        (componentModified)="updateComponent($event)"
        />
    <rb-component-selector 
        [components]="this.currentBuildComponents[ComponentCategory.POWER_SUPPLY]"
        [category]="ComponentCategory.POWER_SUPPLY"
        (componentModified)="updateComponent($event)"
        />

</mat-card>
