<mat-drawer-container class="overflow-hidden h-full w-full drawer-container">
    <mat-drawer
      mode="side"
      opened="true"
      class="drawer"
      position="start">
      <div class="h-full flex flex-col">
        <div
          class="flex-none py-4 bg-gray-50 dark:bg-gray-900 space-y-4 border-b">
          <div class="flex items-center mx-4">
            <div class="flex-1 text-3xl font-semibold">Conversations</div>
          </div>
  
          <!-- <div class="flex px-4">
            <mat-form-field
              appearance="outline"
              class="vex-mat-dense-xs flex-1 bg-foreground"
              subscriptSizing="dynamic">
              <mat-icon
                class="icon-sm"
                matIconPrefix
                svgIcon="mat:search"></mat-icon>
              <input matInput placeholder="Search messages..." type="text" />
            </mat-form-field>
          </div> -->
        </div>
  
        <div class="flex-1 min-h-0" data-simplebar>
          <div class="pt-2">
            <div class="space-y-1">
                @if(messageGroups.length === 0) {
                    <div class="flex items-center justify-center h-full p-4">
                      <h4 class="title m-0">No active messages.</h4>
                    </div>
                }

                @for(group of messageGroups; track group.id) {
                    <ng-container>
                        <a
                          #rla="routerLinkActive"
                          [ngClass]="{
                            'text-primary-600 bg-primary-50 dark:text-primary-200 dark:bg-primary-700/20':
                              rla.isActive
                          }"
                          [routerLink]="['./', group.id]"
                          class="relative text-sm mx-2 px-3 py-2 rounded hover:bg-primary-100 hover:dark:bg-primary-700/10 flex items-center gap-3 transition ease-out"
                          matRipple
                          routerLinkActive>
                          <div
                            *ngIf="rla.isActive"
                            class="w-1 bg-primary-600 absolute left-0 top-0 bottom-0 rounded-full my-1"></div>
          
                          <img
                            class="h-10 w-10 rounded-full flex-none select-none"
                            src="{{ group.groupImageUrl }}" />
                          <div class="flex-1 select-none truncate">
                            <div class="truncate flex mb-0.5">
                              <div class="font-medium flex-1">{{ group.groupName }}</div>
                              <!-- <div class="flex-none text-xs text-gray-500">
                                {{ chat.timestamp }}
                              </div> -->
                            </div>
                            <!-- <div class="text-xs text-gray-500 truncate">
                              {{ chat.lastMessage }}
                            </div> -->
                          </div>
                        </a>
                    </ng-container>
                }
            </div>
          </div>
        </div>
      </div>
    </mat-drawer>
  
    <mat-drawer-content class="relative">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  