<div class="flex items-center justify-between">
    <div style="width: 10%;">
      <mat-icon
      [svgIcon]="notificationIcon"
      [ngClass]="notificationIconClass"
      class="flex-none"></mat-icon>
    </div>
    <div class="flex-auto">
      <div class="notification-heading">{{data.title}}</div>
      <div class="notification-subheading"> 
        <div [innerHTML]="data.message"></div>
      </div>
    </div>

    @if(data.actionLabel) {
        <div style="margin-left: 16px">
            <button mat-raised-button color="primary" type="button" (click)="navigateToAction()">
                {{data.actionLabel}}
            </button>
        </div>
    }
    <div style="width: 5%;" [ngClass]="closeIconClass">
      <mat-icon
        svgIcon="mat:do_not_disturb"
        class="flex-none pl-2"
        style="scale: 0.85;"
        (click)="closeNotification()"></mat-icon>
    </div>
</div>