@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";
@import "./variables.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --vex-sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
html {
  background: #111827;
  // --vex-color-primary: blue;
  // --vex-color-primary-contrast: white;

  // --vex-color-accent: yellow;
  // --vex-color-accent-contrast: black;

  // --vex-color-warn: yellow;
  // --vex-color-warn-contrast: black;
}

.mat-mdc-snack-bar-container {
  &.info-notification {
    --mdc-snackbar-container-color: #111827;
    border-width: 2px;
    border-color: $info-color;
  }
  &.success-notification {
    --mdc-snackbar-container-color: #111827;
    border-width: 2px;
    border-color: $success-color;
  }
  &.warning-notification {
    --mdc-snackbar-container-color: #111827;
    border-width: 2px;
    border-color: $warning-color;
  }
  &.error-notification {
    --mdc-snackbar-container-color: #111827;
    border-width: 2px;
    border-color: $error-color;
  }
}

.verified {
  color: rgb(180, 39, 232)
}