.power-supply-form-fields {
    display: flex;
    align-items: flex-start;
    margin-right: 12px;
    margin-left: 12px;
}

.power-supply-form-fields > mat-form-field {
    margin: 4px;
    width: 100%;
}